.dropdown {
    position: relative;
    cursor: pointer;
    .dropdown-container {
        position: relative;
        width: 200px;
        height: 40px;
        display: inline-block;
        background-color: #fff;
        text-align: left;
        border: 1px solid $brand-border;
    }
    .dropdown-box {
        padding: 10px 40px 9px 10px;
        font-weight: bold;
        color: $text-color;
        display: inline-block;
        cursor: pointer;
        border: none;
        width: 100%;
        text-align: left;
        background-color: transparent;
        &:before {
            content: " ";
            z-index: 1;
            position: absolute;
            height: 40px;
            top: 0;
            right: 35px;
            border-left: 1px solid #ddd;
        }
        &:after {
            content: " ";
            position: absolute;
            z-index: 1;
            top: 16px;
            right: 13px;
            border-top: 10px solid #1677cb;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
        .title-first-item{
            max-width: 130px;
        }
    }
    .dropdown-content {
        margin-top: -1px ;
        position: absolute;
        // padding-bottom: 10px;
        width: 200px;
        min-height: 200px;
        max-height: 350px;
        // overflow-y: scroll;
        top: 100%;
        left: 0;
        z-index: 4;
        background-color: #fff;
        //border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
        border: 1px solid $brand-border;
        outline: 0;
    }
    .dropdown-option {
        height: 200px;
        overflow-y: auto;
        border-top: 1px solid $brand-border;
        border-bottom: 1px solid $brand-border;
    }
    .dropdown-option-item {
        padding: 10px 10px;
        margin: 1px;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #ffffff;
        flex-wrap: wrap;
        line-height: 1.2;
        text-decoration: none;
        &:hover, &.active {
            background: rgba(221, 221, 221, 0.17);
        }
        .option {
            width: 18px;
        }
    }
}

